div{
    align-items: center;
    border-style: outset;
    width: 600px;
    height: 600px;
    margin-left: 350px;
}
h1{
    margin-left: 250px;
}
label{
    margin-left: 200px;

}
    h4{
        margin-left: 300px;
    }

button{
    margin-left: 300px;
}
.p1{
    border-style: solid;
    margin-left: 200px;
    max-width:200px ;
    padding-inline: 20px;
    border-radius: 50px;
    text-align: center;
    font-size: larger;
    background-color: palevioletred;
}
.p2{
    border-style: solid;
    margin-left: 200px;
    max-width: 200px;
    padding-inline: 20px;
    border-radius: 50px;
    text-align: center;
    font-size: larger;
    background-color: rgb(112, 174, 216);
}
.p3{
    border-style: solid;
    margin-left: 200px;
    max-width: 200px;
    padding-inline: 20px;
    border-radius: 50px;
    text-align: center;
    font-size: larger;
    background-color: rgb(112, 216, 121);
}